.sign{
    background-color: orange;
     /* margin-top: 50px; 
     */
     width: 160px;
}

.invalid-input{
    border-color: rgb(241, 36, 36) !important;
    outline-color: rgb(241, 36, 36) !important;
}
.register {
    background-color: orange;
    font-weight: 700;
    width: 160px;
   
}
.side{
    height: 80vh;
    width: 50%;
    /* background: url("/assets/images/image8.jfif"); */
     background: linear-gradient(rgba(154, 14, 209, 0.6),rgb(219, 238, 47)), url("/assets/images/image8.jfif");
      
      /* background: linear-gradient(rgb(230, 255, 4), rgba(154, 14, 209, 0.6)), url("/assets/images/image8.jfif");    */
    background-size: cover;
    background-repeat: no-repeat;
   
}
.make{
    margin-top: 100px;
}
.m{
    font-size: 100px;
}













