<section class="section">


<!-- nav bar 1 section starts here -->
  <nav class="navOne  navbar navbar-light ">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-light">Pennywise</span>
      <h1 class="text-light">{{pennyArray.userName}}</h1>
    </div>
  </nav>
<!-- nav bar 1 section ends here -->

<!-- nav bar 2 section starts here -->
<nav class="navtwo navbar  navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class=" navbar-brand" href="#"><img src="/assets/images/PENNYWISE-removebg-preview.png" class="nav-logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

      <input type="text" class="nav-input   form-control me-2 " placeholder="Search product">
          <button class="btn btn-outline-success" type="submit">Search</button>
          
          <div class="btn-group dropend mx-5">
            <button type="button" class="dropdownbtn btn rounded-start dropdown-toggle text-light " data-bs-toggle="dropdown" aria-expanded="false">
                Account
            </button>
            <ul class="dropdown-menu ">
                <li><button class="signUpBtn dropdown-item btn  mx-4 my-1" routerLink="/signup" >Sign Up</button></li>
                <li><button class="signUpBtn dropdown-item btn  mx-4 my-1 "  routerLink="/login">Log in</button></li>
                <li><button class="signUpBtn dropdown-item btn  mx-4 my-1 "  routerLink="/adminlog">Admin</button></li>
            </ul>
          </div>
          
          <li class=" mx-5"><img src="assets/images/cart-removebg-preview.png"  routerLink="/cart" alt="" class="cart" srcset="" ></li>  <span>Cart</span>
              
            
         
        </ul>
        
      </div>
    </div>
  </nav>

<!-- nav bar 2 section starts here -->




<!-- Carosel starts here -->


<div class="d-flex justify-content-center my-3">

  <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/check.jpg" class="d-block w-100" alt="..."  style="height: 60vh;">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/check2.jpg" class="d-block w-100" alt="..."  style="height: 60vh;">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/stock-photo-cheerful-young-blonde-woman-in-white-summer-dress-hat-eyeglasses-standing-hold-package-bag-with-1905692494.jpg" class="d-block w-100" style="height: 60vh;" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- carosel ends here -->
<!-- product side starts here -->
<div  >
  <div class="sideLeft rounded-start shadow ">
   
    
    <ul class="my-Ul">
      <li>Consumer Electronics</li>
      <li>Fashion</li>
      <li>Baby Produts</li>
      <li>Machinery</li>
      <li>Gaming</li>
      <li>Sporting goods</li>
      <li>Entertainment</li>
      <li>Auto Mobile</li>
      <li>Home Equipment</li>
      <li> Office Equipment</li>
      <li>Health</li>
      <li>Beauty</li>
      <li>Phones&Tablet</li>
      <li>Computers</li>

    </ul>

  </div>
</div>
<!-- product side ends here -->

<!-- side div -->
<div class="two-div" >
  <div class="disp1 my-3 rounded-start">

  </div>
  <div class="disp1 my-3 rounded-end">

  </div>



</div>
<!-- side div -->



<!-- show case carosel start here --> -->
 <div class="shoeline">

  <div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand">
    <ul class="slider-container py-4" id="slider2">
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoee1.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>LeBron 18</strong>
                        <p class="card-text">Basketball Shoes</p>
                    </div>
                    <div class="px-md-2">$200</div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoee3.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>Nike Air Vapormax 2021 FK</strong>
                        <p class="card-text">Women's Shoes</p>
                    </div>
                    <div class="px-md-2">$200</div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoee2.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>Nike Air Force 1 Fontanka</strong>
                        <p class="card-text">Women's Shoes</p>
                    </div>
                    <div class="px-md-2">$110</div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoee4.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>Kyrie 7</strong>
                        <p class="card-text">Basketball Shoes</p>
                    </div>
                    <div class="px-md-2">$130</div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoee5.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>Kyrie 7</strong>
                        <p class="card-text">Big Kids' Basketball Shoes</p>
                    </div>
                    <div class="px-md-2">$110</div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoee10.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>Nike Air Max 90 Premium</strong>
                        <p class="card-text">Men's Shoes</p>
                        <div class="px-md-2">$130</div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoe9.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>LeBron 18</strong>
                        <p class="card-text">Basketball Shoes</p>
                    </div>
                    <div class="px-md-2">$200</div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoee8.jfif" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>Nike Air Vapormax 2021 FK</strong>
                        <p class="card-text">Women's Shoes</p>
                    </div>
                    <div class="px-md-2">$200</div>
                </div>
            </div>
        </li>
        <li>
            <div class="card shadow h-100">
                <div class="ratio ratio-1x1">
                    <img src="/assets/images/shoe1.webp" class="card-img-top" loading="lazy" alt="...">
                </div>
                <div class="card-body d-flex flex-column flex-md-row">
                    <div class="flex-grow-1">
                        <strong>Nike Air Force 1 Fontanka</strong>
                        <p class="card-text">Women's Shoes</p>
                    </div>
                    <div class="px-md-2">$110</div>
                </div>
            </div>
        </li>
    </ul>
  
    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
  </div>
</div> -->

<!-- ends here -->


<!-- admin goods starts here -->

 <!-- <div *ngFor="let item of myGoods"> 
   <h1>{{item.nProduct}}</h1> 
  <img [src]="item.pFile" alt="" srcset="">

</div>  -->

<!-- <div class="">
  <div class="card" style="width: 18rem;" *ngFor="let item of myGoods"   >
    <img src={{item.pFile}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.nProduct}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> 

</div>


            <!-- card starts here -->
  <div class="allcard my-5 mx-3 d-flex justify-content-center "  > 
    <div class="card m-3 " *ngFor="let item of myGoods ; let i = index " style="width: 15rem; height: 390px;">
      <img [src]='item.pimage' class="card-img-top" alt="...">
      <hr>
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-center">{{item.name}}</h5>
        <p class="card-text d-flex justify-content-center">#{{item.price}}:00</p>
        <button class="addToCart btn w-100 text-light" (click)="addToCart(i)">Add to cart</button>
    </div>
  </div>
  </div>

            <!-- card starts ends here -->














</section>





